.wrapper {
  background-color: var(--primary-color);
  color: var(--primary-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
  .logo {
    flex: 1;
    margin-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Nunito-Bold;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    .logo-img {
      width: 50px;
      margin-right: 8px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .menu {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    a {
      width: 120px;
      padding: 0 16px;
      color: #fff;
      justify-content: center;
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 80px;
      font-family: Nunito-Bold;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
