.homepage {
  .carousel {
    height: 600px;
    > div {
      height: 100%;
      object-fit: contain;
    }
  }
  .introduce-section {
    padding: 100px 0;
    .container {
      max-width: 100%;
      padding: 0 40px;
      .title {
        text-align: center;
        font-weight: 200;
        margin: 0 0 10px;
        color: #212121;
        font-size: 36px;
      }
      .sub-title {
        font-size: 14px;
        text-align: center;
        line-height: 22px;
        font-family: Nunito-SemiBold;
        color: #212121;
        .hight-light {
          color: var(--primary-color);
        }
      }
      .features {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px 100px 80px 100px;
        .feature {
          margin: 20px;
          width: 50%;
          max-width: 600px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          .fea-img {
            margin-right: 16px;
          }
          .fea-content {
            display: flex;
            flex-direction: column;
            .fea-title {
              font-family: Nunito-SemiBold;
              margin-bottom: 8px;
              color: #212121;
            }
          }
        }
      }
      .plan-wrapper {
        .title {
          text-align: center;
          color: #212121;
          font-size: 30px;
          font-family: Nunito-Bold, sans-serif;
        }
        .sub-title {
          text-align: center;
          font-size: 14px;
          line-height: 22px;
          font-family: Nunito-Regular;
          color: #777;
          margin: 35px;
        }
      }
    }
  }
}
