
:root {
  --primary-color: #259b24;
  --primary-text: #fff;
  --secondary-color: #ebe9eb;
  --secondary-text: #515151;
  --sub-text: #767676;
}
body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}