@font-face {
  font-family: Nunito-Regular;
  src: url('./assets/fonts/Nunito-Regular.ttf');
}
@font-face {
  font-family: Nunito-SemiBold;
  src: url('./assets/fonts/Nunito-SemiBold.ttf');
}
@font-face {
  font-family: Nunito-Bold;
  src: url('./assets/fonts/Nunito-Bold.ttf');
}
:root {
  --primary-color: #259b24;
  --primary-text: #fff;
  --secondary-color: #ebe9eb;
  --secondary-text: #515151;
  --sub-text: #767676;
}
body {
  width: 100%;
  margin: 0;
  display: flex;
  color: #777;;
  flex-direction: column;
  font-family: Nunito-Regular, sans-serif;
  background-color: #fafafa;
}
